.post_container_button {
  width: 100%;
  border-bottom: 1px solid var(--color-grayscale-50);
}

.post_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 0;
}

.post_inner_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}

.post_author_info_wrapper {
  display: flex;
  gap: 6px;
}

.post_author_info {
  display: flex;
  gap: 15px;
}

.dummy_profile_image {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: var(--color-grayscale-50);
}

.author_name_txt {
  font-size: 1rem;
  color: var(--color-grayscale-90);
  font-weight: bold;
}

.subinfo_wrapper {
  display: flex;
  gap: 12px;
}

.count_wrapper {
  display: flex;
  align-items: center;

  gap: 6px;
}

.dummy_post_image {
  width: 80px;
  height: 80px;
  background-color: var(--color-grayscale-60);
}
